@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main {
    @apply container mx-auto max-w-[900px] xl:max-w-[50vw] py-8 px-4 pb-20 md:pb-0 md:pt-20;
  }
}

:root {
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-ok: #22c55e;
  --color-warning: #f97316;
  --color-danger: #ef4444;
}
